<% layout('layouts/boilerplate')%>
    <div class="w-full max-w-3xl mx-auto">
        <h1 class="font-bold text-3xl text-gray-600 text-center mt-8">Edit Playground</h1>

        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-8 flex flex-col"
            action="/playgrounds/<%=playground._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="mb-4">
                <label for="title" class="block text-gray-700 text-sm font-bold mb-2">Title</label>
                <input type="text" id="title" name="playground[title]"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    placeholder="Title" value="<%=playground.title%>" required aria-required="true">
            </div>
            <div class="mb-4">
                <label for="location" class="block text-gray-700 text-sm font-bold mb-2">Location</label>
                <input type="text" id="location" name="playground[location]"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    placeholder="Location" value="<%=playground.location%>" required aria-required="true">
            </div>
     
            <div class="mb-4">
                <label for="description" class="block text-gray-700 text-sm font-bold mb-2">Description</label>
                <textarea class="w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none" rows="4"
                    name="playground[description]" required aria-required="true"><%=playground.description%></textarea>
            </div>
            <!-- upload Image -->
            <input type="file" name="image" id="" multiple>
            <div class="mb-3">
                <% playground.images.forEach(function(img, i) {  %>
                <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                </div>
                <label for="image-<%=i%>">Delete?</label>
                <% })%>
            </div>
            <div class="flex justify-between">
                <button class="btn bg-gray-800 text-white ">Update Playground</button>
                <a href="/playgrounds"
                    class="btn text-primary border-primary md:border-2 hover:bg-primary hover:text-gray-100 transition ease-out duration-500">Cancel</a>
            </div>

        </form>
        <a href="/playgrounds">All playgrounds</a>
    </div>