<% layout('layouts/boilerplate')%>

                    </li>
    <div class="mt-12 w-4/5 max-w-2xl mx-auto ">
        <div class="card">
            <div class="bg-rose-300">

            
                <%if(playground.image) {%>
                <img class="object-cover w-full" alt="playground image" src="<%=playground.image%>">
                <% }else {%>
                <img class="object-cover w-full " alt="playground image"
                    src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
                <% } %>
            </div>
            <div class=" mb-8 px-3">
                
                <div class="">
                    <h5 class="text-gray-800 font-bold mt-8 text-xl">
                        <%= playground.title%>
                    </h5>
                    <p class="text-sm mt-3">
                        <%= playground.description%>
                    </p>
                </div>
                <ul class="mt-3 ">
                    <li class="">
                        <%= playground.location%>
                    </li>
                    <li class=" flex content-center ">
                        <%if(playground.image) {%>
                            <%=playground.likes %>
                            <%}else{%>
                             0
                             <%}%>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-primary ml-3 inline-block" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                            </svg>
                    </li>
                </ul>

                <div class="flex justify-between mt-3 ">
                    <a class="btn text-primary border-primary md:border-2 hover:bg-primary hover:text-gray-100 transition ease-out duration-500"
                        href="/playgrounds/<%=playground._id%>/edit">Edit</a>
                    <form class="d-inline" action="/playgrounds/<%=playground._id%>?_method=DELETE" method="POST">
                        <button
                            class="btn text-white bg-primary md:border-2 hover:bg-white hover:text-primary border-primary transition ease-out duration-500">Delete</button>
                    </form>
                </div>
                <div class="text-gray-600 text-sm mt-3 ">
                    2 days ago
                </div>
            </div>
        </div>
    </div>