<a href="/playgrounds/<%=playground._id%>">
    <div class="card hover:shadow-lg cursor-pointer flex sm:flex-col ">
        <!-- image block -->
        <div class="relative ">

            <!-- playground image -->
            <%if(playground.images.length) {%>

            <img src="<%=playground.images[0].thumbnail %>" alt="playground image" class="w-full h-48 sm:h-48 object-cover flex-shrink-0" />
            <% }else {%>
            <img class="object-cover w-full h-48 sm:h-48" alt="playground image"
                src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
            <% } %>
           
            <!-- author image -->
            <div class="absolute left-2 bottom-2 h-10 w-10 bg-gray-300 overflow-hidden rounded-full flex justify-center items-center shadow-sm transform sm:translate-y-1/3">
            <% if(playground.author.images){%>
     
                <div class="h-9 w-9 rounded-full overflow-hidden">
                    <img class="w-full object-cover "  src="<%=playground.author.images.thumbnail%>" alt="profile image">
                  </div>
                
            <%}else{%>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            <%}%>
            </div>
        </div>
        
        <div class="m-4">
            <span class="font-bold ">
                <%=playground.title %>
            </span>
            <span class="block text-gray-500">
                <%=playground.location %>
            </span>
        </div>
        <div class="badge flex items-center">
            <span class="pr-1">
                <%if(playground.reviews) {%>
                    <%=playground.reviews.length %>
                <%}else{%>
                 0
                 <%}%>
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
              </svg>
        </div>
    </div>
</a>